.App {
  text-align: left;
}

.App-header {
  background-color: #fef3df;
  min-height: 100vh;
  max-width: 1200px;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  overflow: hidden;
  background-image: url("../public/waill-wide.png");
  background-size: cover;
  background-position: center;
}

.App-header-text {
  color: #72cad8;
  margin: 0px;
  margin-bottom: 10px;
}

.App-header-p {
  color: #72cad8;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 30px;
}

.primary-button {
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: #277888;
  border-radius: 10px;
  color: #eafff3;
  transition: background-color 0.05s linear;
  cursor: pointer;
  font-family: "DMSans";
  text-decoration: none;
  font-size: 18px;
}
.primary-button:hover {
  background-color: #48b2cf;
}

.secondary-button {
  border: none;
  padding: 8px 18px 8px 18px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #277888;
  transition: background-color 0.05s linear;
  transition: border 0.05s linear;
  cursor: pointer;
  border: 2px solid #277888;
  font-family: "DMSans";
  text-decoration: none;
  font-size: 18px;
}
.secondary-button:hover {
  background-color: #eafff3;
  border: 2px solid #eafff3;
}

.secondary-button-small {
  border: none;
  padding: 5px 15px 5px 15px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #277888;
  transition: background-color 0.05s linear;
  transition: border 0.05s linear;
  cursor: pointer;
  border: 2px solid #277888;
  font-family: "DMSans";
  text-decoration: none;
  font-size: 15px;
}
.secondary-button-small:hover {
  background-color: #eafff3;
  border: 2px solid #eafff3;
}

.highlighted-text {
  color: #277888;
}

.App-link {
  color: #091f25;
}

.profile-button {
  height: 60px;
  width: 100%;
  border: none;
  font-family: "DMSans";
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #eafff3;
  color: #277888;
  transition: all 0.1s ease;
}

.profile-button:hover {
  background-color: #d3fff9;
}

.settings-wheel {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.settings-wheel:hover {
  transform: rotate(5deg);
}

.input-light {
  width: 100%;
  padding: 7px;
  border: 2px solid #97d3df;
  border-radius: 9px;
  background-color: #eafff3;
  color: #277888;
  transition: border 0.2s ease;
}

.input-light:hover {
  border: 2px solid #94eafc;
  box-shadow: none;
  outline: none;
}

.input-light:focus {
  border: 2px solid #56dffa;
  box-shadow: none;
  outline: none;
}

.input-light::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #277888;
}
.input-light:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #277888;
}
.input-light::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #277888;
}
.input-light:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #277888;
}

@media only screen and (max-width: 899px) {
  .App-header {
    background-image: url("../public/waill-tall.png");
  }
  .primary-button {
    padding: 7px 12px 7px 12px;
    font-size: 15px;
  }
  .secondary-button {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
  }
}
