@font-face {
  font-family: "DMSans";
  src: url("../public/DMSans_36pt-Regular.woff");
}

body {
  margin: 0;
  font-family: "DMSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
